
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    string ad = "Ibrahim";
    string soyad = "Eryıldız";
    string adSoyad = ad + " " + soyad;
    @*
        wqfvgfrwef
    *@
}

@ad
<br/>
@soyad
<br/>
<b>@adSoyad</b>